absl-py==0.2.2
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
cachetools==2.1.0
certifi==2018.1.18
chardet==3.0.4
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
grpcio==1.12.1
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
lxml==4.2.0
Markdown==2.6.11
mock==2.0.0
numpy==1.14.5
oauth2client==4.1.2
opencv-python==3.4.1.15
pandas==0.22.0
pandas-datareader==0.6.0
pbr==4.0.4
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
rsa==3.4.2
six==1.11.0
stevedore==1.13.0
TBB==0.1
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.7.1
Werkzeug==0.14.1
wrapt==1.10.11
wxGlade==0.6.5
